*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
  overflow: clip;
}
.h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
  align-items: center;
  background-color: #d49726;
  color: #fff;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  padding: 30px 0;
  text-decoration: none;
}

.home {
  padding: 60px 30px;
}

.random__meal {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}

.random__meal__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.random__meal__img, .random__meal__text {
  flex-basis: 50%;
  text-align: center;
}
.random__meal__img img {
  border-radius: 8px;
  object-fit: cover;
  width: 70%;
}

.title {
  color: #d49726;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 58px;
  margin-bottom: 2rem;
}

.search__form {
  align-items: center;
  display: flex;
  height: 46px;
  justify-content: center;
  margin: 0 auto 40px;
  position: relative;
  width: 360px;
}

.search__form input {
  background-color: #dcdcdc;
  border: none;
  border-radius: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
  outline: none;
  padding: 6px 12px;
  transition: all .15s;
  width: 100%;
  cursor: text;
}

.search__form button {
  background: #d49726;
  border: 0;
  border-radius: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  height: 100%;
  position: absolute;
  right: 0;
  width: 100px;
}
/***********/
.meal {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.meal img {
  border-radius: 4px;
  flex-basis: 20%;
  width: 100%;
}

.meal h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.random__meal__info{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.meal__info {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.meal__detail__youtube {
  align-items: center;
  background-color: red;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  margin: 60px 0;
  width: 200px;
}

.meal__detail{
  padding: 20px;
}

.meal__detail__info{
  display: flex;
  font-family: Raleway;
  gap: 20px;
  margin: 60px 0;
}

.meal__detail__info__text{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meal__detail__info__img, .meal__detail__info__text {
  flex-basis: 50%;
  text-align: center;
}

.ingredients {
  align-self: flex-start;
  margin: 20px 0 40px;
  padding-left: 40px;
  text-align: left;
}
.ingredients p, h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.instruction__text{
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
}

.meal__detail__youtube {
  align-items: center;
  background-color: red;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  margin: 60px 0;
  width: 200px;
}